[submodule "LudoNarrative/vendor/spdlog"]
	path = LudoNarrative/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "LudoNarrative/vendor/imgui"]
	path = LudoNarrative/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "LudoNarrative/vendor/yaml-cpp"]
	path = LudoNarrative/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "LudoNarrative/vendor/ImGuizmo"]
	path = LudoNarrative/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "LudoNarrative/vendor/Box2D"]
	path = LudoNarrative/vendor/Box2D
	url = https://github.com/erincatto/box2d.git
